@import '../../assets/styles/main';

footer {
    background-color: $text;
    color: white;
    padding: 1rem 0;

    p {
        margin: 0;
        text-align: center;
    }

    a {
        color: white;

        &:active {
            color: white
        }
    }
}