@import '../assets/styles/variables';

.addUser {
    padding: 1rem;

    label {
        display: block;
        font-weight: bold;
    }

    input {
        border: 1px solid $outline;
        border-radius: $borderRadius;
        display: block;
        margin: 0.25rem 0 1rem;
        padding: 0.5rem;
        width: 100%;

        &:focus {
            outline: none;
            border-color: $secondaryColour;
        }
    }
}
